In [1]:
import pandas as pd

C:\Users\ersin\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\ersin\anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
C:\Users\ersin\anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.23-246-g3d31191b-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
interactions = pd.read_csv("data/processed_interactions.csv", index_col=0)

C:\Users\ersin\AppData\Local\Temp\ipykernel_11620\3634455561.py:1: DtypeWarning: Columns (2,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactions = pd.read_csv("data/processed_interactions.csv", index_col=0)

In [3]:
interactions.head()

,cik,cusip,shares,rdate,fdate,filetype,diffs,category,delay,cikname,base_cusip
0,3520,00030710,15100.0,2015-06-30,2015-08-14,13F-HR,15100.0,Buy,45,FRED ALGER MANAGEMENT INC,000307
1,5272,00030710,3615.0,2014-12-31,2015-02-13,13F-HR,3615.0,Neutral,44,AMERICAN INTERNATIONAL GROUP INC,000307
2,5272,00030710,4665.0,2015-06-30,2015-08-12,13F-HR,1050.0,Neutral,43,AMERICAN INTERNATIONAL GROUP INC,000307
3,5272,00030710,5170.0,2015-09-30,2015-11-12,13F-HR,505.0,Neutral,43,AMERICAN INTERNATIONAL GROUP INC,000307
4,5272,00030710,5162.0,2015-12-31,2016-02-11,13F-HR,-8.0,Neutral,42,AMERICAN INTERNATIONAL GROUP INC,000307

In [4]:
interactions.shape

(40281817, 11)

In [5]:
# Convert specific columns to strings
interactions[['base_cusip']] = interactions[['base_cusip']].astype(str)

# CREATE CUSIPS DF AGAIN.

In [1]:
from sec_api import MappingApi
import pandas as pd 
api_key = "7351070bf132542ae443c95dcb5eb537275f6fc7785f126a18c716fa10bf088a"
mappingApi = MappingApi(api_key=api_key)

C:\Users\ersin\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\ersin\anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
C:\Users\ersin\anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.23-246-g3d31191b-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
# all NASDAQ traded companies
by_exchange = mappingApi.resolve("exchange", "NASDAQ")
NASDAQ_df = pd.DataFrame(by_exchange)

# all NYSE traded companies
by_exchange = mappingApi.resolve("exchange", "NYSE")
NYSE_df = pd.DataFrame(by_exchange)

# all NYSEMKT traded companies
by_exchange = mappingApi.resolve("exchange", "NYSEMKT")
NYSEMKT_df = pd.DataFrame(by_exchange)

# all NYSEARCA traded companies
by_exchange = mappingApi.resolve("exchange", "NYSEARCA")
NYSEARCA_df = pd.DataFrame(by_exchange)

# all OTC traded companies
by_exchange = mappingApi.resolve("exchange", "OTC")
OTC_df = pd.DataFrame(by_exchange)

# all BATS traded companies
by_exchange = mappingApi.resolve("exchange", "BATS")
BATS_df = pd.DataFrame(by_exchange)

In [3]:
NASDAQ_df.shape, NYSE_df.shape , NYSEMKT_df.shape , NYSEARCA_df.shape , OTC_df.shape, BATS_df.shape

((14398, 17), (13170, 17), (1499, 17), (3108, 17), (276, 17), (857, 17))

In [4]:
dfs = [NASDAQ_df, NYSE_df, NYSEMKT_df, NYSEARCA_df, OTC_df, BATS_df]
combined_df = pd.concat(dfs, ignore_index=True)

In [5]:
combined_df.head(4)

,name,ticker,cik,cusip,exchange,isDelisted,category,sector,industry,sic,sicSector,sicIndustry,famaSector,famaIndustry,currency,location,id
0,ADMIRALTY BANCORP INC,AAAB,1066808,007231103,NASDAQ,True,Domestic Common Stock,Financial Services,Banks - Regional,6022,Finance Insurance And Real Estate,State Commercial Banks,,Banking,USD,Florida; U.S.A,3daf92ec6639eede5c282d6cd20f8342
1,ADVANCED ACCELERATOR APPLICATIONS SA,AAAP,1611787,00790T100,NASDAQ,True,ADR Common Stock,Healthcare,Biotechnology,2834,Manufacturing,Pharmaceutical Preparations,,Pharmaceutical Products,EUR,France,cf1185a716b218ee7db7d812695108eb
2,ACCESS ANYTIME BANCORP INC,AABC,1024015,00431F105,NASDAQ,True,Domestic Common Stock,Financial Services,Banks - Regional,6035,Finance Insurance And Real Estate,Savings Institution Federally Chartered,,Banking,USD,New Mexico; U.S.A,800e1a7171119770ea03175a8f58830a
3,ALLIANCE ATLANTIS COMMUNICATIONS INC,AACB,1005887,01853E204 01855R302,NASDAQ,True,Canadian Common Stock,Communication Services,Entertainment,7812,Services,Services-Motion Picture & Video Tape Production,,Entertainment,CAD,Ontario; Canada,d3eb2f4a61137068856d2876cc3fe78b

In [6]:
columns_to_drop = ['famaSector', 'famaIndustry','currency','id','sic','sector','industry','cik']  # Replace with the actual column names you want to drop

# Drop the unwanted columns
combined_df = combined_df.drop(columns=columns_to_drop)

In [7]:
combined_df.isna().sum()

name           0
ticker         0
cusip          0
exchange       0
isDelisted     0
category       0
sicSector      0
sicIndustry    0
location       0
dtype: int64

In [8]:
combined_df['cusip'] = combined_df['cusip'].astype(str)
combined_df.head(10)

,name,ticker,cusip,exchange,isDelisted,category,sicSector,sicIndustry,location
0,ADMIRALTY BANCORP INC,AAAB,007231103,NASDAQ,True,Domestic Common Stock,Finance Insurance And Real Estate,State Commercial Banks,Florida; U.S.A
1,ADVANCED ACCELERATOR APPLICATIONS SA,AAAP,00790T100,NASDAQ,True,ADR Common Stock,Manufacturing,Pharmaceutical Preparations,France
2,ACCESS ANYTIME BANCORP INC,AABC,00431F105,NASDAQ,True,Domestic Common Stock,Finance Insurance And Real Estate,Savings Institution Federally Chartered,New Mexico; U.S.A
3,ALLIANCE ATLANTIS COMMUNICATIONS INC,AACB,01853E204 01855R302,NASDAQ,True,Canadian Common Stock,Services,Services-Motion Picture & Video Tape Production,Ontario; Canada
4,ASSET ACCEPTANCE CAPITAL CORP,AACC,04543P100,NASDAQ,True,Domestic Common Stock,Finance Insurance And Real Estate,Short-Term Business Credit Institutions,Michigan; U.S.A
5,ACE CASH EXPRESS INC,AACE,004403101,NASDAQ,True,Domestic Common Stock,Finance Insurance And Real Estate,Functions Related To Depository Banking Nec,Texas; U.S.A
6,ATA CREATIVITY GLOBAL,AACG,00211V106,NASDAQ,False,ADR Common Stock,Services,Services-Educational Services,China
7,ARMADA ACQUISITION CORP I,AACI,04208V103,NASDAQ,False,Domestic Common Stock Primary Class,Finance Insurance And Real Estate,Blank Checks,Pennsylvania; U.S.A
8,AUSTRALIA ACQUISITION CORP,AACPF,G06368123 G06368107,NASDAQ,True,ADR Common Stock,Finance Insurance And Real Estate,Blank Checks,Australia
9,AADI BIOSCIENCE INC,AADI,00032Q104 00810B105,NASDAQ,False,Domestic Common Stock,Manufacturing,Pharmaceutical Preparations,California; U.S.A

In [14]:
summary = pd.DataFrame({
    'Column': combined_df.columns.tolist(),
    'Example': [combined_df[col].iloc[0] for col in combined_df.columns.tolist()],
    'Unique Count': [combined_df[col].nunique() for col in combined_df.columns.tolist()],
    'Total Count' : [combined_df.shape[0] for col in combined_df.columns.tolist()]
})

In [15]:
summary

        Column                            Example  Unique Count  Total Count
0         name              ADMIRALTY BANCORP INC         23251        33308
1       ticker                               AAAB         27798        33308
2        cusip                          007231103         27772        33308
3     exchange                             NASDAQ             6        33308
4   isDelisted                               True             2        33308
5     category              Domestic Common Stock            24        33308
6    sicSector  Finance Insurance And Real Estate            11        33308
7  sicIndustry             State Commercial Banks           440        33308
8     location                     Florida; U.S.A           137        33308

In [14]:
# combined_df = combined_df.sort_values("name")
combined_df.iloc[3630:4200,:].head(5)

,name,ticker,cusip,exchange,isDelisted,category,sicSector,sicIndustry,location
3630,FIRST MIDWEST BANCORP INC,FMBI,320867104,NASDAQ,True,Domestic Common Stock Primary Class,Finance Insurance And Real Estate,National Commercial Banks,Illinois; U.S.A
3631,F&M BANCORPORATION INC,FMBK,302371109,NASDAQ,True,Domestic Common Stock,Finance Insurance And Real Estate,State Commercial Banks,Wisconsin; U.S.A
3632,F&M BANCORP,FMBN,302367107,NASDAQ,True,Domestic Common Stock,Finance Insurance And Real Estate,State Commercial Banks,Maryland; U.S.A
3633,FOCUS MEDIA HOLDING LTD,FMCN,34415V109,NASDAQ,True,ADR Common Stock,Services,Services-Advertising Agencies,China
3634,FMS FINANCIAL CORP,FMCO,302509104,NASDAQ,True,Domestic Common Stock,Finance Insurance And Real Estate,Savings Institution Federally Chartered,New Jersey; U.S.A

### CONTINUE

In [15]:
# merge combined + interactions
# explain why some of em are missing. or make sure no error in merging. (cunku hata oluyor)

# tüm unique stock keyleri çıkar.
# price datadaki tüm stock keyleri çıkar, filtrele.


# price datayı process et. zamanına bak hangi stocklar belli aralıkta mevcutsa.
# quarterlara ayır. quarter içindeki değişimleri çıkar.zscore hesapla.

### therefore:

# price datasında her quarterda hangilerinde anomaly var elimizde mevcut.
# anomaly olan her stock,quarter için, bir önceki timestamptaki kesiti alalım.

# check anomaly detection based on tensor
# calculate how many fp / tp / fn /tn on detected anomaly and stock anomaly

# suggest predictive power of 13f filings in extreme volatility or anomalous volatility in stock price

# Stock prices data

In [16]:
stock_prices_df = pd.read_csv("data/historical_stock_prices.csv")

In [17]:
stock_prices_df.shape

(20973889, 8)

In [18]:
unique_stocks_in_stockprices = stock_prices_df.ticker.unique().tolist()

In [19]:
stock_prices_df.head()

  ticker   open  close  adj_close    low   high   volume        date
0    AHH  11.50  11.58   8.493155  11.25  11.68  4633900  2013-05-08
1    AHH  11.66  11.55   8.471151  11.50  11.66   275800  2013-05-09
2    AHH  11.55  11.60   8.507822  11.50  11.60   277100  2013-05-10
3    AHH  11.63  11.65   8.544494  11.55  11.65   147400  2013-05-13
4    AHH  11.60  11.53   8.456484  11.50  11.60   184100  2013-05-14

In [20]:
stock_prices_df[stock_prices_df["ticker"]=="BSC1"]

Empty DataFrame
Columns: [ticker, open, close, adj_close, low, high, volume, date]
Index: []

In [21]:
type(stock_prices_df.iloc[0,-1])

str

In [22]:
import pandas as pd

# Assuming 'df' is your DataFrame

# Convert the 'date' column to datetime if it's not already
stock_prices_df['date'] = pd.to_datetime(stock_prices_df['date'])

# Group by 'ticker' and aggregate with min and max on the 'date' column
date_range_df = stock_prices_df.groupby('ticker')['date'].agg(oldest='min', newest='max').reset_index()



# Display the result
date_range_df.head()

  ticker     oldest     newest
0      A 1999-11-18 2018-08-24
1     AA 1970-01-02 2018-08-24
2   AABA 1996-04-12 2018-08-24
3    AAC 2018-01-16 2018-08-24
4    AAL 2005-09-27 2018-08-24

In [23]:
date_range_df.shape

(5685, 3)

In [24]:
combined_df.shape

(33305, 9)

In [25]:
merged_meta_df = combined_df.merge(date_range_df, on='ticker', how='left')

In [26]:
merged_meta_df.shape

(33305, 11)

In [27]:
merged_meta_df.isnull().sum()

name               0
ticker             0
cusip              0
exchange           0
isDelisted         0
category           0
sicSector          0
sicIndustry        0
location           0
oldest         28022
newest         28022
dtype: int64

In [28]:
merged_meta_df[merged_meta_df["ticker"]=="BSC1"]

,name,ticker,cusip,exchange,isDelisted,category,sicSector,sicIndustry,location,oldest,newest
15217,BEAR STEARNS COMPANIES INC,BSC1,073902108,NYSE,True,Domestic Common Stock,Finance Insurance And Real Estate,Security Brokers Dealers & Flotation Companies,New York; U.S.A,NaT,NaT

In [29]:
# Assuming your list of keys is named 'list_of_keys'
unique_interactions_cusips = interactions['base_cusip'].unique().tolist()


# Function to check if the cusip contains any of the keys as a substring
def check_keys_in_cusip(row_cusip):
    for key in unique_interactions_cusips:
        if key in str(row_cusip):
            return True
    return False

# Apply the function to the 'cusip' column to create a new 'key_in_cusip' column
merged_meta_df['found_in_interactions'] = merged_meta_df['cusip'].apply(check_keys_in_cusip)

# Display the result
merged_meta_df.head()

,name,ticker,cusip,exchange,isDelisted,category,sicSector,sicIndustry,location,oldest,newest,found_in_interactions
0,ADMIRALTY BANCORP INC,AAAB,007231103,NASDAQ,True,Domestic Common Stock,Finance Insurance And Real Estate,State Commercial Banks,Florida; U.S.A,NaT,NaT,True
1,ADVANCED ACCELERATOR APPLICATIONS SA,AAAP,00790T100,NASDAQ,True,ADR Common Stock,Manufacturing,Pharmaceutical Preparations,France,NaT,NaT,True
2,ACCESS ANYTIME BANCORP INC,AABC,00431F105,NASDAQ,True,Domestic Common Stock,Finance Insurance And Real Estate,Savings Institution Federally Chartered,New Mexico; U.S.A,NaT,NaT,True
3,ALLIANCE ATLANTIS COMMUNICATIONS INC,AACB,01853E204 01855R302,NASDAQ,True,Canadian Common Stock,Services,Services-Motion Picture & Video Tape Production,Ontario; Canada,NaT,NaT,True
4,ASSET ACCEPTANCE CAPITAL CORP,AACC,04543P100,NASDAQ,True,Domestic Common Stock,Finance Insurance And Real Estate,Short-Term Business Credit Institutions,Michigan; U.S.A,NaT,NaT,True

In [30]:
merged_meta_df.found_in_interactions.value_counts()

found_in_interactions
False    17411
True     15894
Name: count, dtype: int64

In [31]:
merged_meta_df[merged_meta_df["found_in_interactions"]==True].tail()

,name,ticker,cusip,exchange,isDelisted,category,sicSector,sicIndustry,location,oldest,newest,found_in_interactions
32448,CBOE GLOBAL MARKETS INC,CBOE,12503M108,BATS,False,Domestic Common Stock,Finance Insurance And Real Estate,Security & Commodity Brokers Dealers Exchanges...,Illinois; U.S.A,2010-06-15,2018-08-24,True
32493,BLACKROCK FLOATING RATE LOAN ETF,BRLN,092528405,BATS,False,ETF,,,Delaware; U.S.A,NaT,NaT,True
32587,XTRACKERS MSCI EAFE SMALL CAP HEDGED EQUITY ETF,DBES,233051580,BATS,True,ETF,,,,NaT,NaT,True
32686,ISHARES MSCI EUROZONE ETF,EZU,464286608,BATS,False,ETF,,,California; U.S.A,NaT,NaT,True
33165,CAMBRIA TAIL RISK ETF,TAIL,132061862,BATS,False,ETF,,,California; U.S.A,NaT,NaT,True

In [32]:
merged_meta_df.shape

(33305, 12)

In [33]:
merged_meta_df.isna().sum()

name                         0
ticker                       0
cusip                        0
exchange                     0
isDelisted                   0
category                     0
sicSector                    0
sicIndustry                  0
location                     0
oldest                   28022
newest                   28022
found_in_interactions        0
dtype: int64

# FİLTER STOCKS

Finally, i will take subset of stocks mentioned in historical 13F filings.

By taking this subset, I filter:
    
    - stocks that has sector, industry, ticker information available in Sec api. (found in interactions)
    - stocks that has price data available in same or similar timeframe

In [34]:
# Drop rows where either 'oldest' or 'newest' is NaT (Not a Time)
## filtered_df = merged_meta_df.dropna(subset=['oldest', 'newest'])

filtered_df = merged_meta_df[merged_meta_df["found_in_interactions"] == True]

# Filter rows where 'oldest' is not older than 2005 and 'newest' is not newer than 2010
#  filtered_df = filtered_df[(filtered_df['oldest'] < '2000-01-01') & (filtered_df['newest'] > '2015-12-31')]

# Display the result
filtered_df.shape

(15894, 12)

In [35]:
filtered_df[filtered_df["ticker"]=="BSC1"]

,name,ticker,cusip,exchange,isDelisted,category,sicSector,sicIndustry,location,oldest,newest,found_in_interactions
15217,BEAR STEARNS COMPANIES INC,BSC1,073902108,NYSE,True,Domestic Common Stock,Finance Insurance And Real Estate,Security Brokers Dealers & Flotation Companies,New York; U.S.A,NaT,NaT,True

In [36]:
filtered_df.isna().sum()

name                         0
ticker                       0
cusip                        0
exchange                     0
isDelisted                   0
category                     0
sicSector                    0
sicIndustry                  0
location                     0
oldest                   11928
newest                   11928
found_in_interactions        0
dtype: int64

In [37]:
# Define a function to extract the base_cusip
def extract_base_cusip(cusip):
    # Split the cusip string by space and take the first part
    first_part = cusip.split(' ')[0]
    # Return the first 6 characters of the first part
    return first_part[:6]

# Apply the function to the 'cusip' column to create the 'base_cusip' column
filtered_df['base_cusip'] = filtered_df['cusip'].apply(extract_base_cusip)

C:\Users\ersin\AppData\Local\Temp\ipykernel_11620\334438809.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['base_cusip'] = filtered_df['cusip'].apply(extract_base_cusip)

In [38]:
filtered_df = filtered_df.drop_duplicates(subset=['name', 'ticker'])

filtered_df.head()

,name,ticker,cusip,exchange,isDelisted,category,sicSector,sicIndustry,location,oldest,newest,found_in_interactions,base_cusip
0,ADMIRALTY BANCORP INC,AAAB,007231103,NASDAQ,True,Domestic Common Stock,Finance Insurance And Real Estate,State Commercial Banks,Florida; U.S.A,NaT,NaT,True,007231
1,ADVANCED ACCELERATOR APPLICATIONS SA,AAAP,00790T100,NASDAQ,True,ADR Common Stock,Manufacturing,Pharmaceutical Preparations,France,NaT,NaT,True,00790T
2,ACCESS ANYTIME BANCORP INC,AABC,00431F105,NASDAQ,True,Domestic Common Stock,Finance Insurance And Real Estate,Savings Institution Federally Chartered,New Mexico; U.S.A,NaT,NaT,True,00431F
3,ALLIANCE ATLANTIS COMMUNICATIONS INC,AACB,01853E204 01855R302,NASDAQ,True,Canadian Common Stock,Services,Services-Motion Picture & Video Tape Production,Ontario; Canada,NaT,NaT,True,01853E
4,ASSET ACCEPTANCE CAPITAL CORP,AACC,04543P100,NASDAQ,True,Domestic Common Stock,Finance Insurance And Real Estate,Short-Term Business Credit Institutions,Michigan; U.S.A,NaT,NaT,True,04543P

In [39]:
filtered_df.shape

(14280, 13)

In [40]:
interactions['base_cusip'] = interactions['base_cusip'].str.strip().str.upper()
filtered_df['base_cusip'] = filtered_df['base_cusip'].str.strip().str.upper()

In [41]:
interactions.shape, filtered_df.shape

((40281817, 11), (14280, 13))

# MERGE STOCK INFO WITH INTERACTIONS

In [42]:
print(filtered_df['base_cusip'].duplicated().sum())
filtered_df = filtered_df.drop_duplicates(subset='base_cusip')

1476

In [43]:

# Now perform the merge
merged_df = interactions.merge(filtered_df, on='base_cusip', how='left', indicator=True)
merged_df.shape

(40281817, 24)

In [44]:
merged_df.head()

,cik,cusip_x,shares,rdate,fdate,filetype,diffs,category_x,delay,cikname,...,exchange,isDelisted,category_y,sicSector,sicIndustry,location,oldest,newest,found_in_interactions,_merge
0,3520,00030710,15100.0,2015-06-30,2015-08-14,13F-HR,15100.0,Buy,45,FRED ALGER MANAGEMENT INC,...,NYSE,True,Domestic Common Stock,Services,Services-Specialty Outpatient Facilities Nec,Tennessee; U.S.A,NaT,NaT,True,both
1,5272,00030710,3615.0,2014-12-31,2015-02-13,13F-HR,3615.0,Neutral,44,AMERICAN INTERNATIONAL GROUP INC,...,NYSE,True,Domestic Common Stock,Services,Services-Specialty Outpatient Facilities Nec,Tennessee; U.S.A,NaT,NaT,True,both
2,5272,00030710,4665.0,2015-06-30,2015-08-12,13F-HR,1050.0,Neutral,43,AMERICAN INTERNATIONAL GROUP INC,...,NYSE,True,Domestic Common Stock,Services,Services-Specialty Outpatient Facilities Nec,Tennessee; U.S.A,NaT,NaT,True,both
3,5272,00030710,5170.0,2015-09-30,2015-11-12,13F-HR,505.0,Neutral,43,AMERICAN INTERNATIONAL GROUP INC,...,NYSE,True,Domestic Common Stock,Services,Services-Specialty Outpatient Facilities Nec,Tennessee; U.S.A,NaT,NaT,True,both
4,5272,00030710,5162.0,2015-12-31,2016-02-11,13F-HR,-8.0,Neutral,42,AMERICAN INTERNATIONAL GROUP INC,...,NYSE,True,Domestic Common Stock,Services,Services-Specialty Outpatient Facilities Nec,Tennessee; U.S.A,NaT,NaT,True,both

In [45]:
merged_df.isna().sum()

cik                             0
cusip_x                         0
shares                          0
rdate                           0
fdate                           0
filetype                        0
diffs                           0
category_x                      0
delay                           0
cikname                         0
base_cusip                      0
name                      4142575
ticker                    4142575
cusip_y                   4142575
exchange                  4142575
isDelisted                4142575
category_y                4142575
sicSector                 4142575
sicIndustry               4142575
location                  4142575
oldest                   17048316
newest                   17048316
found_in_interactions     4142575
_merge                          0
dtype: int64

In [46]:
merged_df.shape

(40281817, 24)

In [47]:
df_cleaned = merged_df.dropna(subset=['name', 'ticker', 'sicIndustry'], how='all')

In [48]:
df_cleaned.head()

,cik,cusip_x,shares,rdate,fdate,filetype,diffs,category_x,delay,cikname,...,exchange,isDelisted,category_y,sicSector,sicIndustry,location,oldest,newest,found_in_interactions,_merge
0,3520,00030710,15100.0,2015-06-30,2015-08-14,13F-HR,15100.0,Buy,45,FRED ALGER MANAGEMENT INC,...,NYSE,True,Domestic Common Stock,Services,Services-Specialty Outpatient Facilities Nec,Tennessee; U.S.A,NaT,NaT,True,both
1,5272,00030710,3615.0,2014-12-31,2015-02-13,13F-HR,3615.0,Neutral,44,AMERICAN INTERNATIONAL GROUP INC,...,NYSE,True,Domestic Common Stock,Services,Services-Specialty Outpatient Facilities Nec,Tennessee; U.S.A,NaT,NaT,True,both
2,5272,00030710,4665.0,2015-06-30,2015-08-12,13F-HR,1050.0,Neutral,43,AMERICAN INTERNATIONAL GROUP INC,...,NYSE,True,Domestic Common Stock,Services,Services-Specialty Outpatient Facilities Nec,Tennessee; U.S.A,NaT,NaT,True,both
3,5272,00030710,5170.0,2015-09-30,2015-11-12,13F-HR,505.0,Neutral,43,AMERICAN INTERNATIONAL GROUP INC,...,NYSE,True,Domestic Common Stock,Services,Services-Specialty Outpatient Facilities Nec,Tennessee; U.S.A,NaT,NaT,True,both
4,5272,00030710,5162.0,2015-12-31,2016-02-11,13F-HR,-8.0,Neutral,42,AMERICAN INTERNATIONAL GROUP INC,...,NYSE,True,Domestic Common Stock,Services,Services-Specialty Outpatient Facilities Nec,Tennessee; U.S.A,NaT,NaT,True,both

### Test with a few examples

In [49]:
# Create a boolean mask where 'name' contains 'search_string' case-insensitively
mask = df_cleaned['name'].str.contains("LEHMAN BROTHERS", case=False, na=False)

# Apply the mask to get the rows where 'name' contains 'search_string'
rows_with_string = df_cleaned[mask]

rows_with_string.head(2)

,cik,cusip_x,shares,rdate,fdate,filetype,diffs,category_x,delay,cikname,...,exchange,isDelisted,category_y,sicSector,sicIndustry,location,oldest,newest,found_in_interactions,_merge
20952991,3133,52490810,19025.0,1999-06-30,1999-08-16,13F-HR,-60.0,Neutral,47,AMSOUTH BANCORPORATION,...,NYSE,True,Domestic Common Stock,Finance Insurance And Real Estate,Security Brokers Dealers & Flotation Companies,New York; U.S.A,NaT,NaT,True,both
20952992,3133,52490810,19225.0,1999-09-30,1999-11-15,13F-HR,200.0,Neutral,46,AMSOUTH BANCORPORATION,...,NYSE,True,Domestic Common Stock,Finance Insurance And Real Estate,Security Brokers Dealers & Flotation Companies,New York; U.S.A,NaT,NaT,True,both

In [50]:
# Create a boolean mask where 'name' contains 'search_string' case-insensitively
mask = df_cleaned['name'].str.contains("JPMORGAN CHASE", case=False, na=False)

# Apply the mask to get the rows where 'name' contains 'search_string'
rows_with_string = df_cleaned[mask]

rows_with_string.head(2)

,cik,cusip_x,shares,rdate,fdate,filetype,diffs,category_x,delay,cikname,...,exchange,isDelisted,category_y,sicSector,sicIndustry,location,oldest,newest,found_in_interactions,_merge
19288567,2230,46625H10,125000.0,2009-03-31,2009-04-21,13F-HR,125000.0,Large Buy,21,ADAMS EXPRESS CO,...,NYSE,False,Domestic Common Stock Primary Class,Finance Insurance And Real Estate,National Commercial Banks,New York; U.S.A,1980-03-17,2018-08-24,True,both
19288568,2230,46625H10,335000.0,2009-06-30,2009-08-05,13F-HR,210000.0,Large Buy,36,ADAMS EXPRESS CO,...,NYSE,False,Domestic Common Stock Primary Class,Finance Insurance And Real Estate,National Commercial Banks,New York; U.S.A,1980-03-17,2018-08-24,True,both

In [51]:
df_cleaned.shape

(36139242, 24)

In [52]:
# Assuming 'df' is your DataFrame
columns = df_cleaned.columns

# To print the list of column names
print(columns.tolist())

['cik', 'cusip_x', 'shares', 'rdate', 'fdate', 'filetype', 'diffs', 'category_x', 'delay', 'cikname', 'base_cusip', 'name', 'ticker', 'cusip_y', 'exchange', 'isDelisted', 'category_y', 'sicSector', 'sicIndustry', 'location', 'oldest', 'newest', 'found_in_interactions', '_merge']

## Drop some unnecessary columns from merged df

In [53]:
columns_to_drop = ['cik', 'cusip_x', 'base_cusip','_merge','found_in_interactions','cusip_y']  # List of columns you want to drop
df = df_cleaned.drop(columns=columns_to_drop)

In [54]:
df.head()

,shares,rdate,fdate,filetype,diffs,category_x,delay,cikname,name,ticker,exchange,isDelisted,category_y,sicSector,sicIndustry,location,oldest,newest
0,15100.0,2015-06-30,2015-08-14,13F-HR,15100.0,Buy,45,FRED ALGER MANAGEMENT INC,AAC HOLDINGS INC,AACH,NYSE,True,Domestic Common Stock,Services,Services-Specialty Outpatient Facilities Nec,Tennessee; U.S.A,NaT,NaT
1,3615.0,2014-12-31,2015-02-13,13F-HR,3615.0,Neutral,44,AMERICAN INTERNATIONAL GROUP INC,AAC HOLDINGS INC,AACH,NYSE,True,Domestic Common Stock,Services,Services-Specialty Outpatient Facilities Nec,Tennessee; U.S.A,NaT,NaT
2,4665.0,2015-06-30,2015-08-12,13F-HR,1050.0,Neutral,43,AMERICAN INTERNATIONAL GROUP INC,AAC HOLDINGS INC,AACH,NYSE,True,Domestic Common Stock,Services,Services-Specialty Outpatient Facilities Nec,Tennessee; U.S.A,NaT,NaT
3,5170.0,2015-09-30,2015-11-12,13F-HR,505.0,Neutral,43,AMERICAN INTERNATIONAL GROUP INC,AAC HOLDINGS INC,AACH,NYSE,True,Domestic Common Stock,Services,Services-Specialty Outpatient Facilities Nec,Tennessee; U.S.A,NaT,NaT
4,5162.0,2015-12-31,2016-02-11,13F-HR,-8.0,Neutral,42,AMERICAN INTERNATIONAL GROUP INC,AAC HOLDINGS INC,AACH,NYSE,True,Domestic Common Stock,Services,Services-Specialty Outpatient Facilities Nec,Tennessee; U.S.A,NaT,NaT

In [55]:
print(df.dtypes)

shares                float64
rdate                  object
fdate                  object
filetype               object
diffs                 float64
category_x             object
delay                   int64
cikname                object
name                   object
ticker                 object
exchange               object
isDelisted             object
category_y             object
sicSector              object
sicIndustry            object
location               object
oldest         datetime64[ns]
newest         datetime64[ns]
dtype: object

In [56]:
df.category_y.value_counts()

category_y
Domestic Common Stock                    27877957
Domestic Common Stock Primary Class       5502777
ADR Common Stock                          1543142
Canadian Common Stock                      495553
ADR Common Stock Primary Class             316819
Domestic Preferred Stock                   170699
Domestic Common Stock Secondary Class      104894
ADR Common Stock Secondary Class            51854
Canadian Common Stock Primary Class         46809
ETD                                         16080
Domestic Common Stock Warrant               11008
CEF                                          1584
ADR Common Stock Warrant                       66
Name: count, dtype: int64

In [57]:
df = df.rename(columns={'category_x':'changeCat','category_y':'equityType'})

In [58]:
df.head()

,shares,rdate,fdate,filetype,diffs,changeCat,delay,cikname,name,ticker,exchange,isDelisted,equityType,sicSector,sicIndustry,location,oldest,newest
0,15100.0,2015-06-30,2015-08-14,13F-HR,15100.0,Buy,45,FRED ALGER MANAGEMENT INC,AAC HOLDINGS INC,AACH,NYSE,True,Domestic Common Stock,Services,Services-Specialty Outpatient Facilities Nec,Tennessee; U.S.A,NaT,NaT
1,3615.0,2014-12-31,2015-02-13,13F-HR,3615.0,Neutral,44,AMERICAN INTERNATIONAL GROUP INC,AAC HOLDINGS INC,AACH,NYSE,True,Domestic Common Stock,Services,Services-Specialty Outpatient Facilities Nec,Tennessee; U.S.A,NaT,NaT
2,4665.0,2015-06-30,2015-08-12,13F-HR,1050.0,Neutral,43,AMERICAN INTERNATIONAL GROUP INC,AAC HOLDINGS INC,AACH,NYSE,True,Domestic Common Stock,Services,Services-Specialty Outpatient Facilities Nec,Tennessee; U.S.A,NaT,NaT
3,5170.0,2015-09-30,2015-11-12,13F-HR,505.0,Neutral,43,AMERICAN INTERNATIONAL GROUP INC,AAC HOLDINGS INC,AACH,NYSE,True,Domestic Common Stock,Services,Services-Specialty Outpatient Facilities Nec,Tennessee; U.S.A,NaT,NaT
4,5162.0,2015-12-31,2016-02-11,13F-HR,-8.0,Neutral,42,AMERICAN INTERNATIONAL GROUP INC,AAC HOLDINGS INC,AACH,NYSE,True,Domestic Common Stock,Services,Services-Specialty Outpatient Facilities Nec,Tennessee; U.S.A,NaT,NaT

In [59]:
df.isna().sum()

shares                0
rdate                 0
fdate                 0
filetype              0
diffs                 0
changeCat             0
delay                 0
cikname               0
name                  0
ticker                0
exchange              0
isDelisted            0
equityType            0
sicSector             0
sicIndustry           0
location              0
oldest         12905741
newest         12905741
dtype: int64

In [ ]:
df.to_csv("interactions_final.csv")

In [ ]:
# NEXT
# price datayı process et. zamanına bak hangi stocklar belli aralıkta mevcutsa.
# quarterlara ayır. quarter içindeki değişimleri çıkar.zscore hesapla.

### therefore:

# price datasında her quarterda hangilerinde anomaly var elimizde mevcut.
# anomaly olan her stock,quarter için, bir önceki timestamptaki kesiti alalım.

# check anomaly detection based on tensor
# calculate how many fp / tp / fn /tn on detected anomaly and stock anomaly

# suggest predictive power of 13f filings in extreme volatility or anomalous volatility in stock price